<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Speiseplan für {{menu.name}}">
    <meta name="author" content="Niels Lohmann">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> -->
    <meta name="apple-mobile-web-app-title" content="Speiseplan">

    <link rel="icon" type="image/x-icon" href="/static/pics/favicons/{{menu.twitter}}/favicon.ico" />

    <!-- Icons -->
    <link rel="apple-touch-icon" href="/static/pics/favicons/{{menu.twitter}}/apple-touch-icon-57x57-precomposed.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/static/pics/favicons/{{menu.twitter}}/apple-touch-icon-72x72-precomposed.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/static/pics/favicons/{{menu.twitter}}/apple-touch-icon-114x114-precomposed.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/static/pics/favicons/{{menu.twitter}}/apple-touch-icon-120x120-precomposed.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/static/pics/favicons/{{menu.twitter}}/apple-touch-icon-144x144-precomposed.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/static/pics/favicons/{{menu.twitter}}/apple-touch-icon-152x152-precomposed.png" />

    <!-- Startup images -->
 
    <!-- iOS 6 & 7 iPad (retina, portrait) -->
    <link href="/static/pics/startup/{{menu.twitter}}/apple-touch-startup-image-1536x2008.png"
          media="(device-width: 768px) and (device-height: 1024px)
             and (orientation: portrait)
             and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">

    <!-- iOS 6 & 7 iPad (retina, landscape) -->
    <link href="/static/pics/startup/{{menu.twitter}}/apple-touch-startup-image-1496x2048.png"
          media="(device-width: 768px) and (device-height: 1024px)
             and (orientation: landscape)
             and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">

    <!-- iOS 6 iPad (portrait) -->
    <link href="/static/pics/startup/{{menu.twitter}}/apple-touch-startup-image-768x1004.png"
          media="(device-width: 768px) and (device-height: 1024px)
             and (orientation: portrait)
             and (-webkit-device-pixel-ratio: 1)"
          rel="apple-touch-startup-image">

    <!-- iOS 6 iPad (landscape) -->
    <link href="/static/pics/startup/{{menu.twitter}}/apple-touch-startup-image-748x1024.png"
          media="(device-width: 768px) and (device-height: 1024px)
             and (orientation: landscape)
             and (-webkit-device-pixel-ratio: 1)"
          rel="apple-touch-startup-image">

    <!-- iOS 6 & 7 iPhone 5 -->
    <link href="/static/pics/startup/{{menu.twitter}}/apple-touch-startup-image-640x1096.png"
          media="(device-width: 320px) and (device-height: 568px)
             and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">

    <!-- iOS 6 & 7 iPhone (retina) -->
    <link href="/static/pics/startup/{{menu.twitter}}/apple-touch-startup-image-640x920.png"
          media="(device-width: 320px) and (device-height: 480px)
             and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">

    <!-- iOS 6 iPhone -->
    <link href="/static/pics/startup/{{menu.twitter}}/apple-touch-startup-image-320x460.png"
          media="(device-width: 320px) and (device-height: 480px)
             and (-webkit-device-pixel-ratio: 1)"
          rel="apple-touch-startup-image">

    <title>Speiseplan {{menu.name}}</title>

    <link rel="alternate" type="application/atom+xml" title="Speiseplan für {{menu.name}}" href="/{{menu.mensa}}.atom">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
  </head>

  <body>
    <div class="container">
      <h2>
          <small class="pull-right">
              <a href="https://twitter.com/{{menu.twitter}}" target="_blank"><i class="fa fa-twitter text-muted"></i></a>
              <a href="https://foursquare.com/v/{{menu.foursquare}}" target="_blank"><i class="fa fa-foursquare text-muted"></i></a>
              <a href="/{{menu.mensa}}.atom"><i class="fa fa-rss-square text-muted"></i></a>
          </small>
          {{menu.name}}
      </h2>

      {% for key, value in menu.theken.iteritems() %}
      <div class="panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title">{{ key|thekenname }}</h3>
          </div>
          <ul class="list-group">
              {% for meal in value %}
              <li class="list-group-item">
                  {% if meal.laktosefrei %}
                  <span style="margin-left: 1em;" class="label label-success pull-right">laktosefrei</span>
                  {% endif %}
                  {% if meal.tagestipp %}
                  <span class="label label-primary pull-right">Tagestipp</span>
                  {% endif %}
                  {% if meal.vegan %}
                  <span style="margin-left: 1em;" class="label label-success pull-right">vegan</span>
                  {% endif %}
                  {% if meal.vegetarisch %}
                  <span style="margin-left: 1em;" class="label label-success pull-right">vegetarisch</span>
                  {% endif %}
                  {{meal.name}}
              </li>
              {% endfor %}
          </ul>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
