<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Speiseplan für {{menu.mensa|mensaname}}">
    <meta name="author" content="Niels Lohmann">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Speiseplan">

    <link rel="icon" type="image/x-icon" href="/static/{{menu.mensa|twitter}}/favicon.ico" />

    <link rel="apple-touch-icon" href="/static/{{menu.mensa|twitter}}/apple-touch-icon-57x57-precomposed.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/static/{{menu.mensa|twitter}}/apple-touch-icon-72x72-precomposed.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/static/{{menu.mensa|twitter}}/apple-touch-icon-114x114-precomposed.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/static/{{menu.mensa|twitter}}/apple-touch-icon-120x120-precomposed.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/static/{{menu.mensa|twitter}}/apple-touch-icon-144x144-precomposed.png" />

    <title>Speiseplan {{menu.mensa|mensaname}}</title>

    <link rel="alternate" type="application/atom+xml" title="Speiseplan für {{menu.mensa|mensaname}}" href="/{{menu.mensa}}.atom">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.min.css">
  </head>

  <body>
    <div class="container">
      <h2>
          <small class="pull-right">
              <a href="https://twitter.com/{{menu.mensa|twitter}}" target="_blank"><i class="fa fa-twitter text-muted"></i></a>
              <a href="https://foursquare.com/v/{{menu.mensa|foursquare}}" target="_blank"><i class="fa fa-foursquare text-muted"></i></a>
              <a href="/{{menu.mensa}}.atom"><i class="fa fa-rss-square text-muted"></i></a>
          </small>
          {{menu.mensa|mensaname}}
      </h2>

      {% for key, value in menu.theken.iteritems() %}
      <div class="panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title">{{ key|thekenname }}</h3>
          </div>
          <ul class="list-group">
              {% for meal in value %}
              <li class="list-group-item">
                  {% if meal.laktosefrei %}
                  <span style="margin-left: 1em;" class="label label-success pull-right">laktosefrei</span>
                  {% endif %}
                  {% if meal.tagestipp %}
                  <span class="label label-primary pull-right">Tagestipp</span>
                  {% endif %}
                  {% if meal.vegan %}
                  <span style="margin-left: 1em;" class="label label-success pull-right">vegan</span>
                  {% endif %}
                  {% if meal.vegetarisch %}
                  <span style="margin-left: 1em;" class="label label-success pull-right">vegetarisch</span>
                  {% endif %}
                  {{meal.name}}
              </li>
              {% endfor %}
          </ul>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
